In [1]:
'''
주하지 못한 선수
문제 설명
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

제한사항
마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
completion의 길이는 participant의 길이보다 1 작습니다.
참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
참가자 중에는 동명이인이 있을 수 있습니다.
입출력 예
participant	completion	return
["leo", "kiki", "eden"]	["eden", "kiki"]	"leo"
["marina", "josipa", "nikola", "vinko", "filipa"]	["josipa", "filipa", "marina", "nikola"]	"vinko"
["mislav", "stanko", "mislav", "ana"]	["stanko", "ana", "mislav"]	"mislav"
입출력 예 설명
예제 #1
"leo"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #2
"vinko"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #3
"mislav"는 참여자 명단에는 두 명이 있지만, 완주자 명단에는 한 명밖에 없기 때문에 한명은 완주하지 못했습니다.
'''

'\n주하지 못한 선수\n문제 설명\n수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.\n\n마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.\n\n제한사항\n마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.\ncompletion의 길이는 participant의 길이보다 1 작습니다.\n참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.\n참가자 중에는 동명이인이 있을 수 있습니다.\n입출력 예\nparticipant\tcompletion\treturn\n["leo", "kiki", "eden"]\t["eden", "kiki"]\t"leo"\n["marina", "josipa", "nikola", "vinko", "filipa"]\t["josipa", "filipa", "marina", "nikola"]\t"vinko"\n["mislav", "stanko", "mislav", "ana"]\t["stanko", "ana", "mislav"]\t"mislav"\n입출력 예 설명\n예제 #1\n"leo"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.\n\n예제 #2\n"vinko"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.\n\n예제 #3\n"mislav"는 참여자 명단에는 두 명이 있지만, 완주자 명단에는 한 명밖에 없기 때문에 한명은 완주하지 못했습니다.\n'

In [24]:
participant = ["leo", "kiki", "eden"]
completion = ["eden", "kiki"]
result = "leo"

In [29]:
def solution(participant, completion):
    answer = ''    
    dict_participant = {}
    dict_participant = dict.fromkeys(participant, 0)
    for part_item in participant:
        dict_participant[part_item] += 1

    for complete_item in completion:
        dict_participant[complete_item] -= 1
    
    for part_item in participant:
        if dict_participant[part_item] > 0:
            answer = part_item
    
    #print(dict_participant)
    return answer

In [30]:
solution(participant, completion)

{'leo': 1, 'kiki': 0, 'eden': 0}

'leo'

In [31]:
## Step 2-3: 체육복

In [32]:
'''
체육복
문제 설명
점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다. 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 체육수업을 들을 수 있는 학생의 최댓값을 return 하도록 solution 함수를 작성해주세요.

제한사항
전체 학생의 수는 2명 이상 30명 이하입니다.
체육복을 도난당한 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
여벌의 체육복을 가져온 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
여벌 체육복이 있는 학생만 다른 학생에게 체육복을 빌려줄 수 있습니다.
여벌 체육복을 가져온 학생이 체육복을 도난당했을 수 있습니다. 이때 이 학생은 체육복을 하나만 도난당했다고 가정하며, 남은 체육복이 하나이기에 다른 학생에게는 체육복을 빌려줄 수 없습니다.
입출력 예
n	lost	reserve	return
5	[2, 4]	[1, 3, 5]	5
5	[2, 4]	[3]	4
3	[3]	[1]	2
입출력 예 설명
예제 #1
1번 학생이 2번 학생에게 체육복을 빌려주고, 3번 학생이나 5번 학생이 4번 학생에게 체육복을 빌려주면 학생 5명이 체육수업을 들을 수 있습니다.

예제 #2
3번 학생이 2번 학생이나 4번 학생에게 체육복을 빌려주면 학생 4명이 체육수업을 들을 수 있습니다.

출처

※ 공지 - 2019년 2월 18일 지문이 리뉴얼되었습니다.
※ 공지 - 2019년 2월 27일, 28일 테스트케이스가 추가되었습니다.
'''

'\n체육복\n문제 설명\n점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 체육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다. 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.\n\n전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 체육수업을 들을 수 있는 학생의 최댓값을 return 하도록 solution 함수를 작성해주세요.\n\n제한사항\n전체 학생의 수는 2명 이상 30명 이하입니다.\n체육복을 도난당한 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.\n여벌의 체육복을 가져온 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.\n여벌 체육복이 있는 학생만 다른 학생에게 체육복을 빌려줄 수 있습니다.\n여벌 체육복을 가져온 학생이 체육복을 도난당했을 수 있습니다. 이때 이 학생은 체육복을 하나만 도난당했다고 가정하며, 남은 체육복이 하나이기에 다른 학생에게는 체육복을 빌려줄 수 없습니다.\n입출력 예\nn\tlost\treserve\treturn\n5\t[2, 4]\t[1, 3, 5]\t5\n5\t[2, 4]\t[3]\t4\n3\t[3]\t[1]\t2\n입출력 예 설명\n예제 #1\n1번 학생이 2번 학생에게 체육복을 빌려주고, 3번 학생이나 5번 학생이 4번 학생에게 체육복을 빌려주면 학생 5명이 체육수업을 들을 수 있습니다.\n\n예제 #2\n3번 학생이 2번 학생이나 4번 학생에게 체육복을 빌려주면 학생 4명이 체육수업을 들을 수 있습니다.\n\n출처\n\n※ 공지 - 2019년 2월 18일 지문이 리뉴얼되었습니다.\n※ 공지 - 2019년 2월 27일, 28일 테스트케이스가 추가되었습니다.\n'

In [145]:
n = 5
lost = [2, 4]
reserve = [1, 3, 5]
result = 5

In [146]:
def solution(n, lost, reserve):
    answer = 0
    total = [i for i in range(1, n+1)]
    s = set(lost) & set(reserve)
    l = set(lost) -s
    r = set(reserve) - s
    
    for x in sorted(r):
        if x - 1 in l:
            l.remove(x - 1)
        elif x + 1 in l:
            l.remove(x + 1)
    return n - len(l)

In [147]:
solution(n, lost, reserve)

5

In [148]:
n = 5
lost = [2, 4]
reserve = [3]
result = 4

In [149]:
solution(n, lost, reserve)

4

In [150]:
n = 3
lost = [3]
reserve = [1]
result = 2

In [151]:
solution(n, lost, reserve)

2

In [152]:
## 가장 큰수

In [153]:
'''
가장 큰 수
문제 설명
0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

제한 사항
numbers의 길이는 1 이상 100,000 이하입니다.
numbers의 원소는 0 이상 1,000 이하입니다.
정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.
입출력 예
numbers	return
[6, 10, 2]	"6210"
[3, 30, 34, 5, 9]	"9534330"
'''

'\n가장 큰 수\n문제 설명\n0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.\n\n예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.\n\n0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.\n\n제한 사항\nnumbers의 길이는 1 이상 100,000 이하입니다.\nnumbers의 원소는 0 이상 1,000 이하입니다.\n정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.\n입출력 예\nnumbers\treturn\n[6, 10, 2]\t"6210"\n[3, 30, 34, 5, 9]\t"9534330"\n'

In [ ]:
## 문제의 해결 방법
#### (1) 빈 문자열로 수를 초기화한다.
#### (2) 가장 크게 만들 수 있는 수를 고른다.
#### 그 수를 현재 수에 이어 붙인다.
#### 모든 수를 다 사용할 때까지 반복한다.

In [160]:
numbers = [6, 10, 2]
result = "6210"

In [177]:
def solution(numbers):
    answer = ""
    numbers = [str(x) for x in numbers]
    numbers.sort(key=lambda x : (x * 4)[:4], reverse=True)
    #print(numbers)
    if numbers[0] == '0':
        answer = '0'
    else:
        answer= ''.join(numbers)
    return answer

In [176]:
solution(numbers)

'6210'

In [180]:
## Step4-1: 탐욕법(Greedy) 대표 문제 풀이 : 큰 수 만들기

In [181]:
'''
큰 수 만들기
문제 설명
어떤 숫자에서 k개의 수를 제거했을 때 얻을 수 있는 가장 큰 숫자를 구하려 합니다.

예를 들어, 숫자 1924에서 수 두 개를 제거하면 [19, 12, 14, 92, 94, 24] 를 만들 수 있습니다. 이 중 가장 큰 숫자는 94 입니다.

문자열 형식으로 숫자 number와 제거할 수의 개수 k가 solution 함수의 매개변수로 주어집니다. number에서 k 개의 수를 제거했을 때 만들 수 있는 수 중 가장 큰 숫자를 문자열 형태로 return 하도록 solution 함수를 완성하세요.

제한 조건
number는 1자리 이상, 1,000,000자리 이하인 숫자입니다.
k는 1 이상 number의 자릿수 미만인 자연수입니다.
입출력 예
'''

'\n큰 수 만들기\n문제 설명\n어떤 숫자에서 k개의 수를 제거했을 때 얻을 수 있는 가장 큰 숫자를 구하려 합니다.\n\n예를 들어, 숫자 1924에서 수 두 개를 제거하면 [19, 12, 14, 92, 94, 24] 를 만들 수 있습니다. 이 중 가장 큰 숫자는 94 입니다.\n\n문자열 형식으로 숫자 number와 제거할 수의 개수 k가 solution 함수의 매개변수로 주어집니다. number에서 k 개의 수를 제거했을 때 만들 수 있는 수 중 가장 큰 숫자를 문자열 형태로 return 하도록 solution 함수를 완성하세요.\n\n제한 조건\nnumber는 1자리 이상, 1,000,000자리 이하인 숫자입니다.\nk는 1 이상 number의 자릿수 미만인 자연수입니다.\n입출력 예\n'

In [ ]:
## number의 마지막자리수까지 숫자를 생성한다.
## K의 자리수를 만족하는 숫자를 list_numbers에 추가한다.
## len(number) - k를 만족할때까지 모든 숫자를 완성하여 collected 에 넣고
## loop문 탈출조건 ? len(number) - k 범위를 넘을때.
## len(number) - k를 만족하는 숫자 중에 가장 큰수를 return한다.
## 수를 K개 제거한다 <-- 여기에 현혹되면 안된다.
## i loop와 i+1 loop가 조합해서 len(number) - K 자리수만큼의 수를 만드는게 목표이다.

In [189]:
def solution(number, k):
    answer = ''
    len_number = len(number)-k
    
    list_numbers = []

    for i, item in enumerate(number):
        #print(i)
        temp_number = item
        i += 1
        for num_item in number[i:]:
            #print(num_item)
            #if num_item == number[-1]:
            temp_number = temp_number + num_item
            print(temp_number)
            if len(temp_number) == len_number:                
                list_numbers.append(temp_number)
    #print(list_numbers)
    #print(max(list_numbers))
    return answer

In [170]:
number = "1924"
k = 2 
result = "94"

In [171]:
number[0:2]

'19'

In [172]:
number[0:3]

'192'

In [173]:
number[0:3][0]

'1'

In [174]:
number[0:3][-1]

'2'

In [175]:
solution(number, k)

0
1
2
3

''

In [190]:
number = "1231234"
k = 3
result = "3234"

In [191]:
number[1:]

'231234'

In [ ]:
### [12, 13, 11, 12, 13, 14]
### [123, 121, 122, 123, 124, 131, 132, 133, 134, 112, 113, 114, 123, 124]
### [1231, 1232, 1233,1234]
### [23, 21, 22, 23, 24]
### [231, 232, 233, 234, 212, 213, 214, 223, 224, 234]
### [2312, 2313, 2314, ]

In [192]:
solution(number, k)

12
123
1231
12312
123123
1231234
23
231
2312
23123
231234
31
312
3123
31234
12
123
1234
23
234
34

''

In [219]:
def solution(number, k):
    answer = ''
    #print(list(number).sort(reverse=True))
    #list_number = [str(item) for item in number]
    collected = []
    #print(list_number)
    for i, num in enumerate(number):
        print(i)
        print(num)
        while len(collected) > 0 and collected[-1] < num and k > 0:
            collected.pop()
            k -= 1
            
        if k == 0:
            collected += list(number[i:])
            break
        collected.append(num)
        
    collected = colleckted[:-k] if k > 0 else collected
    answer = ''.join(collected)
    return answer

In [220]:
solution(number, k)

0
1
1
9
2
2
3
4

'94'

In [186]:
number = "1231234"
k = 3
result = "3234"

In [221]:
solution(number, k)

0
1
1
9
2
2
3
4

'94'

In [222]:
number = "4177252841"
k = 4
result = "775844"

In [223]:
solution(number, k)

0
4
1
1
2
7
3
7
4
2
5
5
6
2
7
8

'775841'